@charset "utf-8";
@media print {
body { font-family: serif; }
h1, h2, h3, h4, h5, dt { font-family: sans-serif; }
body, h1, h2, h3, h4, h5, h6, pre, blockquote, p { color: black; }
}
html { background-color: #e8e8e8;  /* For Firefox users... (bk) */ }
body { font-family: 'Lucida Sans Unicode', Verdana, sans-serif; padding: 1.5em; margin: 20px 9% 20px 9%; line-height: 200%; background-color: white; color: #222; border-style: solid; border-color: #ccc; border-width: 1px; }
p { margin: 0 0.8em 1em 0.8em; }
.small { font-size: small; }
p.short-note { /* font-size: small; */ }
p.foottext { text-indent: 0; font-size: small; }
sup { font-size: small; }
small.gray { color: #888; }
address { font-family: 'Lucida Sans Unicode'; font-size: smaller; text-align: right; }
dl { margin-left: 1.5em; }
dt { color: black; font-weight: normal; }
dd, dt { line-height: 150%; }
p.noindent { text-indent: 0em; }
p.center { text-indent: 0em; text-align: center; }
p.right { text-indent: 0em; text-align: right; }
p.last-modified { text-align: right; color: #666; text-indent: 0em; font-size: smaller; }
p.lang-navigator { text-align: right; font-size: smaller; }
strong { color: black; font-weight: bold; }
strong.new { font-size: smaller; color: #a44; font-style: italic; }
strong.caption { font-size: smaller; padding: 0.1em; font-weight: bold; border-style: solid; border-width: 0 0 1px 0; }
strike, del { color: #aaa; }
blockquote, pre { color: #666; margin-right: 2em; margin-left: 2em; padding: 0.2em 1em; }
blockquote p { text-indent: 0; margin: 0; padding: 0; }
pre, code { font-family: 'Lucida Console', 'Courier', 'Courier New', monospace; }
pre { font-size: smaller; line-height: 150%; white-space: pre; width: 100%; overflow: auto; }
h1 { font-size: 16pt; padding: 0.4em 0 0 0.4em; }
h1 a, h1 a:link, h1 a:visited, h1 a:active, h1 a:hover { color: #222; }
h1, h2, h3, h4, h5, h6 { color: black; }
h2 { font-size: 12pt; }
h3 { font-size: 10pt; }
h1 { font-weight: normal; font-family: Verdana, serif; }
h2, h3, h4, h5, h6 { font-weight: bold; font-family: Verdana, serif; }
h1, h2, h3, h4, h5, h6 { line-height: 150%; padding: 0; }
h1, h2, h3 { border-style: solid; border-color: #ccc; border-width: 0 0 1px 0; clear: both }
a { text-decoration: none; }
a:link { color: #44f; }
a:visited { color: #8848d8; }
a:active, a:focus, a:hover { text-decoration: underline; }
li { margin-left: 0.75em; line-height: 166%; padding-top: 0.20em; }
ul li { list-style-type: disc; }
figure { text-indent: 0em; margin: 0.25em auto}
kbd { border-style: solid; border-width: 1px 2px 2px 1px; border-color: gray; font-family: monospace; font-size: smaller; margin: 1px; }
img { border-style: none; border-width: 0px; }
img.figure { margin: 1em; }
img.art { padding: 1em; }
a.navi { font-size: small; border-style: solid; border-width:  1px 2px 2px 1px; padding: 1px 4px 1px 4px; border-color: #66f; font-weight: bold; text-decoration: none; }
a.navi:hover { background-color: #ddf; }
a.navi:visited { color: #a5c; }
img.frame { margin:  4px; padding: 4px; border-style: none; background-color: white; border-width: 0; border-color: #448; border-style: solid; border-width: 1px 1px 1px 1px; }
p.art { border-style: solid; text-align: center; padding: 2em; border-color: #888; border-width: 1px; margin-left: 15%; margin-right: 15%; }
strong.art { padding: 0.2em; font-weight: bold; border-style: solid; color: #222; border-color: black; border-width: 0 0 1px 0; }
table { border-color: #888; font-size: small; margin-left: 2em; margin-bottom: 0.5em; margin-top: 0.5em; border-collapse: collapse; }
th, tr, td { border-width: 1px; padding: 4px; line-height: 120%; }
div.ad { border: 0px; margin-left: 2em; margin-top: 1em; }
div.sidebar form { margin-left: 0.5em; }
div.sidebar input { margin: 0.1em; }
div.sidebar ul { padding-left: 0em; margin-left: 1.5em; }
div.sidebar h2, div.sidebar h3 { font-size: small; }
div.sidebar { line-height: 150%; background-color: white; width: 20%; font-size: smaller; border-style: solid; border-color: #ccc; border-width: 0 0 0 1px; margin-right: 1%; padding-left: 1%; float: right; }
div.sidebar div { margin-left: 0.8em; }
article.main { margin-right: 2%; float: left; clear: both; position: relative }
section.formcontainer { overflow: hidden }
div.formcol { float: left; width: 48%; min-width: 300px; padding: 2em 0 }
div.lastcol { margin-top:-2em }
textarea { height: 2.5em; font-size: small; width: 90%; }
form.encoding { font-size: small; text-indent: 2.3em }
table.form { font-size: small; line-height: 100%; padding: 0px; margin-top: 0px; margin-bottom: 0px; width: 90%; }
table.form th { text-align: left; }
table.form td { text-align: right; }
table.form td, td { padding: 0px; margin: 0px; }
table.form td.thin { line-height: 0px; }
/*id*/
h1#page-title { clear:none }
span#loading { display:none }
#encoding { width:5em }
#lang-selector { float: right; width: 4em; margin: 9px auto; padding: 0 }
#lang-selector li { float: right; list-style: none; margin:0 3px; padding:0 }
#lang-selector li a { text-indent: -1000em; display: block; height: 20px; width: 24px; line-height: 20px; background:url(flag.png) no-repeat; opacity: .6 }
#lang-selector a.en { background-position: -24px 0; }
#lang-selector a.active { opacity: 1.0 }
footer.main { clear: both; border-color: #ccc; border-style: solid; border-width: 1px 0 0 0; }
/* big phones and tablets */
@media (max-width: 800px) {
body { margin: 2% }
div.formcol { float:none; width: 90%; min-width: 300px; padding: 0}
}
@media (min-width: 801px) and (max-width: 1024px) {
body {margin: 2%}
div.formcol {padding: 0}
}
/* end */